* {
	box-sizing: border-box;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
	height: 100%;
}

body {
	background: #dbdbdb;
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
	.center;
}

// .widget--standalone {
// 	background: url(http://www.online-image-editor.com//styles/2014/images/example_image.png) no-repeat;
// 	background-size: cover;
// 	will-change: transition;
// }

// .widget--standalone:hover {
// 	outline: 10px solid white;
// 	transform: scale(1.5);
// }